/*
!.gitignore
!nix/
!.github/
!init.sh
!README.md
!AGENTS.md
!.devcontainer/
!skills/
!skills/**
!zephyr/module.yml
!tools/
!tools/**
!docs/
!docs/**
/projects/
!/ws/
/ws/*
!/ws/*/
/ws/*/*
!/ws/*/workspace-config/
!/ws/*/workspace-config/**
**/__pycache__/
*.pyc
